<div style="background-color: lightgray;">
  <button>我的空間</button>
  <input type="text" value="搜尋關鍵字或標籤...">
  <%=link_to "＋建立筆記", new_note_path %>
  <button>我的筆記</button>
  <button>協作筆記</button>
</div>
