<%= render "header" %>
<div style="display: flex">
  <button>標籤</button>
  <button>顯示方式</button>
</div>
<p>---------------無標籤----------------</p>
<ul>
  <% @notes.each do |note| %>
      <li>
          <%= link_to note.title, edit_note_path(note) %>
          <%= note.updated_at %>
          <%= link_to "刪除筆記", note_path(note), method: "delete", data: {confirm: "確定刪除筆記？"}%>
      </li>
  <% end %>
</ul>



