<div id="editor" 
     data-controller="hello" 
     data-hello-id-value="<%= @note.id %>" 
     data-hello-target="name" 
     data-action="keyup->hello#omg">
  標題：<%= @note.title %>
  <br>
  內文：<%= @note.content %>
</div>