<div>
    標題：<%= @note.title %>
    <br>
    內文：<%= @note.content %>
</div>
<div class="collection-btn"
     data-controller="collect" 
     data-action="click->collect#toggle" 
     data-collect-target="btn"
     data-collect-id-value="<%= @note.id %>">
    <a href="#">加入收藏</a>
</div>
