<div class="justify-center order-none">
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to " 透過 #{OmniAuth::Utils.camelize(provider)} 登入", omniauth_authorize_path(resource_name, provider), class:"fab fa-github text-xl sign-github p-2", method: :post %>
    <% end %>
  <% end %>    
</div><br />