.commentbtn {
  @apply cursor-pointer border rounded py-0.5 px-2;
}
.commentbtnhover {
  @apply hover:bg-gray-200 w-20 text-center
}
.commentinnerbg {
  @apply flex flex-col justify-center items-center bg-white w-20 h-20 shadow-md
}