.md-editor-toolbar {
  border-bottom: 1px solid #dfdfe0;
  background: #1c1c1e !important;
  color: #ccc;
  padding: 4px 2px 4px 5px;
  border-radius: 3px 3px 0 0;
}
cm-s-default .cm-header-1 {
  color: #eda35e !important;
}
