.collection-btn {
    display: inline;
    border: darkblue solid 2px;
    border-radius: 3px;

    p {
      display: inline;
      text-decoration: none;
    }
  
}
.collection-on {
  color: white;
  background-color:darkblue;
}

.collection-off {
  color: darkblue;
  background-color: transparent;
// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.favorite_icon {
  width: 40px;
  height: 40px;   
  background-color: #fff;
  border: 1px solid #000;    
}
.favorite-on {
  background-color: #f00;
}
.favorite-off {
  background-color: #fff;
}
