.collection-btn {
    display: inline;
    border: darkblue solid 2px;
    border-radius: 3px;

    p {
      display: inline;
      text-decoration: none;
    }
  
}
.collection-on {
  color: white;
  background-color:darkblue;
}

.collection-off {
  color: darkblue;
  background-color: transparent;
}