.collection-btn {
    display: inline;
    border: darkblue solid 2px;
    border-radius: 3px;

    p {
      display: inline;
      text-decoration: none;
    }
  
}
.collection-on {
  color: white;
  background-color:darkblue;
}

.collection-off {
  color: darkblue;
  background-color: transparent;
}
hr {
  line-height:20px;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
hr:before {
  content: "無標籤";
  position: absolute;
  align-self: center;
  z-index: 2;
  font-size: 1.5rem;
  background-color: #333333;
  padding: 5px;
} 
.pagination {
  font-size: 1rem;
  .first, .prev, .next, .last {
    display: none;
  }
  :hover,
  .current {
    color: #333333;
    background-color: white;
  }
  span {
    border: white 1px solid;
    padding-right: 5px;
    padding-left: 5px;
    a {
      display: inline-block;
      text-decoration: none;
      color: white;
    }
  }
}
.side-nav-on,
.side-nav-off {
  background-color: #262626;
  color: white;
  opacity: 1;
  a {
    text-decoration: none;
    color: white;
  }
}
.side-nav-on {
  margin-left: -8rem;
  height: 100%;
  opacity: 0;
  transition-duration: 0.3s;
}
.side-nav-off {
  height: 100%;
  opacity: 1;
  transition-duration: 0.3s;
}
.side-nav-off:hover {
  opacity: 0;
}

.side-nav-on:hover {
  margin-left: 0;
  opacity: 1;
  transition: ease-in;
  transition-duration: 0.3s;
}
// .side-nav-btn {
//   @apply text-sm mx-3 my-3 py-1;
// }
